<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Loginside_FYAN_Bot_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <Loginside_FYAN_Bot_GUI.Properties.Settings>
            <setting name="Id_Ins" serializeAs="String">
                <value />
            </setting>
            <setting name="Pwd_Ins" serializeAs="String">
                <value />
            </setting>
            <setting name="Sec_Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Pwd_Prev" serializeAs="String">
                <value />
            </setting>
            <setting name="Day_Chg_Pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="Tmr_In" serializeAs="String">
                <value />
            </setting>
            <setting name="Tmr_Out" serializeAs="String">
                <value />
            </setting>
        </Loginside_FYAN_Bot_GUI.Properties.Settings>
    </userSettings>
</configuration>