<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Loginside_FYAN_Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <Loginside_FYAN_Bot.Properties.Settings>
            <setting name="Tmr_In" serializeAs="String">
                <value>21:00</value>
            </setting>
            <setting name="Tmr_Out" serializeAs="String">
                <value>21:02</value>
            </setting>
            <setting name="Name_User" serializeAs="String">
                <value>yamia</value>
            </setting>
            <setting name="Dom_User" serializeAs="String">
                <value>NEPHILIM</value>
            </setting>
            <setting name="Pwd_User" serializeAs="String">
                <value>yamian10071993</value>
            </setting>
            <setting name="Id_Ins" serializeAs="String">
                <value>102594</value>
            </setting>
            <setting name="Pwd_Ins" serializeAs="String">
                <value>y@m1An10071993</value>
            </setting>
            <setting name="Sec_Key" serializeAs="String">
                <value>YJ57DVFQZY6M7WX5L7EUJ4DMXR4CD3QC</value>
            </setting>
        </Loginside_FYAN_Bot.Properties.Settings>
    </userSettings>
</configuration>